week 8/My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -64
      ],
      "id": "7989687d-bf86-4d4e-acb3-4dd55a28a24a",
      "name": "When chat message received",
      "webhookId": "f0ef3026-3e0e-4c68-a0e2-a02622d13360"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -80
      ],
      "id": "1f4219eb-25db-405c-830c-de97850650f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ],
      "id": "1d841c08-e5dd-4f95-971c-f181e48cc6e4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gq5McOg9r5jQ172i",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        96
      ],
      "id": "ad7b263d-937d-43f2-a947-5b4955f840f9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "amirali@gmail.com",
        "subject": "Hello amir",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        144,
        -64
      ],
      "id": "c1c33db5-4207-494d-aa0b-e047cea524e7",
      "name": "Send a message",
      "webhookId": "bafe45be-ea44-4c30-bf60-2c3ff461f80e",
      "credentials": {
        "gmailOAuth2": {
          "id": "IG6Tgqd9LqJD7Drb",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7f3e2d4-0b57-476c-b493-d0285263c048",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dce338ff128a164300a0827e574ba819512ab784ecc3b119c0009b3227f4158f"
  },
  "id": "oRulu9qaoVIOoeGl",
  "tags": []
}